// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	padding: 15px 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #4A4A4A;
	background:rgba(135,135,135,0.6);
	margin: 10px 0;
}

.status h3#name {
	font-size:18px;
}

.status p {
	margin: 4px 0;
}
.status .admin {
	display:none;
}
.status.hover {
	background: #F0F0F0;
}
.status.hover .admin {
	display:inline;
}
